.about-btn-group {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
}

.about-btn-group a {
  width: 30%;
  margin: 0 auto;
  padding: 1rem;
}

#fern-profile-pic {
  width: 100%;
}

.about-page__photo, .about-page__photo-real {
  width: 100%;
}

.about-page__photo-real {
  margin-top: 5rem;
  /* padding-top: 2rem; */
}

@media (max-width: 768px) {
  .text-justify-sm {
      text-align: center;
  }
}