.about-btn-group {
  margin: 0 auto;
  width: 100%
}

.about-btn-group a {
  width: 30%;
  margin: 0 auto;
  padding: 1rem;
}

#fern-profile-pic {
  width: 100%;
}

@media (max-width: 768px) {
  .text-justify-sm {
      text-align: center;
  }
}