.footer {
  background-color: #c9c5be;
  margin-top: 100px;
  display: flex;
  position: relative;
  bottom:0;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 240px;
}

.insta {
  max-height: 100%;
  /* width: 150px; */
}

.insta img {
  width: 150px;
  margin: 0 20px;
}
/* 
.subscribe input {
  margin-right: 25px;
} */

.social {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.social i {
  margin: 0 10px;
}

.copyright {
  text-align: center;
  width: 100%;
  padding-bottom: 5px;
  background-color: #c9c5be;
}

.copyright a {
  text-decoration: none;
  color: #282c34;
}