.footer {
  background-color: #c9c5be;
  margin-top: 100px;
  display: flex;
  position: relative;
  bottom:0;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 200px;
}

.insta {
  max-height: 100%;
  /* width: 150px; */
}

.insta img {
  width: 150px;
}

.subscribe input {
  margin-right: 25px;
}

