.title {
  text-align: center;
  font-size: 3.5rem;
}

.spacer {
  margin-bottom: 50px;
}

.description {
  align-self: center;
}

.App-link {
  color: #282c34;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: #254685 !important;
  border-style: none !important;
}

.btn-primary:hover {
  background-color: #062052 !important;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  border-style: none;
}

.image-size {
  max-width: 100%;
}

#bootstrap-override .card-style {
  background-color: #EDE4D5; /*#C9C5BE  #FFFAF2 #FFDEA6 #806F53 #CCC8C2*/
  /* #5465B3 #ABBAFF #91A5FF  tans: #B89E53 #FFE391 */
  text-align: center;
  box-shadow: 5px 5px 2px rgba(211, 211, 211, 50%);
}

#bootstrap-override h1 {
  font-weight: 400;
}

#bootstrap-override .NavBar-link {
  color: rgb(60,60,60);
}

@media only screen and (max-width: 600px){
  #bootstrap-override .card-style {
    margin-bottom: 30px;
  }
}